header{
    overflow: hidden;
}

.hero{
    background-image: url(../../../public/img/bcg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 140px;
}

.hero_left p{
    font-size: 18px;
    color: #fff;
}

.hero_left h1{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
    margin: 10px 0 30px 0;
}

.hero_left button{
    border: 1px solid #fff;
    background: transparent;
    padding: 15px;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
}

.hero_right{
    margin-top: -50px;
    margin-right: 15%;
}