nav{
    background: #212529;
    padding: 20px 0 0 0;
    position: relative;
}

.logo{
    font-size: 40px;
    font-weight: 700;
    color: #fff;
}

.logo span{
    color: #007bff;
}

.like_and_backet{
    display: flex;
    align-items: center;
}

.like_and_backet svg{
    width: 25px;
    height: 25px;
    color: #fff;
    position: relative;
    transition: .3s;
}

.like_and_backet svg:first-child{
    margin-right: 20px;
}

.shop_cart{
    position: relative;
    width: 1em;
}

.shop_cart span{
    position: absolute;
    top: -15px;
    right: -20px;
    width: 25px;
    height: 25px;
    background: #007bff;
    color: #fff;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.like_and_backet svg:hover{
    color: #007bff;
    cursor: pointer;
}

.search_nav{
    width: 450px;
    height: 44px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search_nav input{
    width: 100%;
    height: 100%;
    padding: 0 0 0 20px;
    overflow: hidden;
    border-radius: 5px;
    font-size: 20px;
    border: none;
}

.search_nav input:focus{
    outline: none;
}

.search_div{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 65px;
    background: #007bff;
    color: #fff;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.search_div svg{
    width: 22px;
    height: 22px;
    cursor: pointer;
}

.navigation{
    margin-top: 30px !important;
}

.navigation_menu{
    width: 100vw;
    height: 50px;
    justify-content: center;
    background: #007bff;
    color: #fff;
    transition: .3s;
    transform: translateX(-50%);
    margin-left: 50%;
}

.navigation_menu .li{
    cursor: pointer;
    padding: 0 30px;
    position: relative;
    font-size: 20px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
}

.navigation_menu .li:hover{
    background-color: #0360c4;
}

.dropdown_btn{
    display: flex;
    align-items: center;
}

.dropdown_btn svg{
    margin-left: 15px;
}

.dropdown_menu{
    position: absolute;
    top: 100%;
    left: 51%;
    transform: translateX(-50%);
    width: 1170px;
    background: #fff;
    color: #000;
    display: flex;
    justify-content: space-between;
    padding: 30px;
    display: none;
}

.dropdown_menu ul{
    width: 230px;
}

.dropdown_menu ul li:first-child{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
    padding: 0;
}

.dropdown_menu ul li:first-child:hover{
    background-color: #fff;
    padding: 0;
    color: #007bff;
}

.dropdown_menu ul li{
    font-size: 18px;
    margin-bottom: 5px;
    transition: .3s;
    border-radius: 5px;
    padding: 3px 10px;
    overflow: auto;
}

.dropdown_menu ul li:hover{
    background-color: #ccc;
    padding-left: 30px;
}

.line{
    width: 1px;
    background: rgba(0, 0, 0, 0.418);
}

.line:last-child{
    display: none;
}

.btn_drop{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn_drop:hover .dropdown_menu{
    display: flex;
}